@import url('https://fonts.googleapis.com/css?family=Russo+One');

body {
    background-color: rgb(209, 209, 209);
    font-family: Russo One;
    user-select: none;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.inner-container {
    outline: 5px orange solid;
    position: relative;
    width: 660px;
    /* text-align: center; */
    background-color: #cfcfcf;
}

.pad-bank {
    width: 332px;
    height: 272px;
    display: inline-block;
    margin: 20px;
}

.drum-pad {
    position: relative;
    float: left;
    width: 100px;
    height: 80px;
    margin-right: 10px;
    border-radius: 5px;
    padding-top: 35px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(222, 222, 222);
    margin-top: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.logo {
    position: absolute;
    top: 5px;
    right: 10px;
}

.inner-logo {
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.controls-container {
    width: 240px;
    height: 250px;
    background-color: rgb(222, 222, 222);
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    margin: 40px 20px 0 10px;
    vertical-align: top;
}

.control {
    width: 100px;
    margin: auto;
}

.control, .volume-slider :hover{
    cursor: grab;
}

.control p {
    margin-bottom: 0;
}

#display {
    width: 200px;
    background-color: rgb(209, 209, 209);
    margin: 15px auto;
    padding: 15px;
    box-sizing: border-box;
}

.select{
    margin: auto;
    border: 1px solid black;
    width: 50px;
    height: 25px;
    padding: 1px;
    background-color: black;
}

.select .inner{
    box-sizing: border-box;
    background-color: rgb(19, 192, 82);
    width: 25px;
    height: 25px;
    border: 2px black solid;
    float: right;
    
}

.volume-slider input{
    width: 200px;
}

@media screen and (max-width:650px) {
    .inner-container{
        transform: scale(0.7);
    }
    
}
